<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
            <span>Viaja el</span>
            <span><%= vuelo.FlightDate %></span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <span><%= vuelo.FlightSource %></span>
                <span>-</span>
                <span><%= vuelo.FlightDest %></span>
            </h5>
            <p class="card-text fs-6">
                Precio final desde:<br>
                <p class="card-text fw-bold ">USD <%= vuelo.TicketCost %></p>
            </p>
            <p class="card-text fs-6"> Tasas incluidas</p>
        </div>
        <div class="container d-flex justify-content-center mb-2">
            <button class="btn btn-primary "><a href="/reservacion/<%= vuelo.FlightId%>" class="text-light text-decoration-none">Reservar</a></button>
        </div>
    </div>
</div>
